<RunSettings>
	<TestRunParameters>
		<Parameter name="Headless" value="false"/>
		<Parameter name="BrowseType" value="Chrome"/>
		<Parameter name="ImplicityWait" value="10"/>
		<Parameter name="StandartUserName" value="standard_user"/>
		<Parameter name="StandartUserPassword" value="secret_sauce"/>
	</TestRunParameters>
</RunSettings>
	